body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:rgb(245, 234, 221);
}

.header {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;

    font-family: 'Arial', sans-serif;
}

.container {
    background-color: white;
    border: 0.8px solid black;
    border-radius: 5px;

    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.container > .row {
    display: flex;
    flex-direction: row;
    background-color: grey;
    border: 0.1px solid grey;
    padding: 0px;
    border-radius: 5px;
}

.row > .cell {
    flex: 1;
    padding: 10px;
    background-color: white;
    border: 0.1px solid grey;
    text-align: center;

    height: 35px;
    width: 80px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    border-radius: 5px;
}